.main{
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 25% 30% 40%;
    grid-template-rows: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#022B3A;
    background-color:rgb(241, 241, 241);

}

a:visited{
    color:#022B3A;
}

a:active{
    color:#022B3A;
}

.col-1{
    padding-left:4%;
    padding-top: 1%;
    grid-column-end: 2;
    text-indent: 10px;
}

.col-2{
    grid-template-rows: 20%;
}

.col-3{
    padding-left: 10%;
    padding-top: 5%;
}

img{
    width:500px;
    border:10px solid #022B3A;
}

