body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(241, 241, 241);
}

.sidebar{
    position: fixed;
    top: 10px;
    left: 30px; 
}

.description{
    text-align:right;
    line-height: normal;
    width: 80ch;    
}

.albums{
    display:block;
    float:left;
    margin-left:25%;
    margin-right: auto;
    width:20%;
}

.albumdescriptions{
    display:block;
    margin-left:58%;
    margin-right:0.5%;
    line-height: normal;
}