body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(241, 241, 241);
}

.sidebar{
    position: fixed;
    top: 10px;
    left: 30px; 
}

.bio{
    display: block;
    float:right;
    text-align: right;
    width: 60ch;
}

.albums{
    display:block;
    float:left;
    margin-left:25%;
    margin-right: auto;
    width:20%;
}

.albumdescriptions{
    display:block;
    margin-left:58%;
    margin-right:0.5%;
    line-height: normal;
}
.hereistand{
    margin-bottom:20%;
}